<div class="flex flex-col container items-center justify-center mx-auto mt-28 px-5">
  <h1 class="text-3xl font-bold underline">Ferrum PDF Generation Example</h1>
  <p class="text-center">This Rails App is meant to demonstrate the capabilities of the <code>ferrum</code> gem, and whether it even works on deploio.</p>
  <div class="flex flex-col items-center justify-center">
    <%= link_to "Generate PDF", home_generate_pdf_path, class: "bg-blue-500 text-white p-2 rounded-md" %>
  </div>
</div>
